<%- include("header"); %>

    <div class="sidebar-container">
        <div class="sidebar-logo">
            My vaccine
        </div>

        <ul class="sidebar-navigation">
            <li class="header">Menu</li>
            <li>
                <a href="/">
                    <i class="fa fa-home" aria-hidden="true"></i> Homepage
                </a>
            </li>
            <li>
                <a href="/login">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> Sign in
                </a>
            </li>
            <li>
                <a href="/signup">
                    <i class="fa fa-user-plus" aria-hidden="true"></i> Sign up
                </a>
            </li>
            <li>
                <a href="/admin-login">
                    <i class="fa fa-cog" aria-hidden="true"></i> Admin
                </a>
            </li>
            <li>
                <a href="/logout">
                    <i class="fa fa-sign-out" aria-hidden="true"></i> sign out
                </a>
            </li>
        </ul>
    </div>

    <div class="content-container">

        <div class="container-fluid">

            <!-- Main component for a primary marketing message or call to action -->
            <div class="jumbotron">
                <h1 class="text-center">Welcome to My vaccin </h1>
                <h3 class="text-center">The best website to keep track of your vaccin </h3>
                <div class="jumbotron text-center">
                    <a href="/login" class="btn btn-primary">Login</a>
                    <a href="/signup" class="btn btn-primary">Register</a>
                </div>
            </div>

        </div>
    </div>

    <div class="container">

    </div>